<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Spid_SSO::parent" title="SSO" module="Spid_SSO" sortOrder="100" resource="Spid_SSO::parent"/>
        <add id="Spid_SSO::index" title="SSO Index" module="Spid_SSO" sortOrder="10" action="sso/index" resource="Spid_SSO::index" parent="Spid_SSO::parent"/>
		
    </menu>
</config>